
html,body {
	
	height:100%;
	width:100%;
	padding: 0px;
	margin: 0px;

}

.notemaker_wrapper {
	padding:0px;
    margin: 0px;
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0px;
    left: 0px;
    
    background-color: red;
}
