

.concepts {
	width: 95%;
	height: auto;
	float: left;
	margin-top: 8px;
	margin-left: 8px
}

.concept, .conceptNew{
	display: inline-block;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	background-color: #2CC4E0;
	color: white;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-radius: 7px;
	cursor: default;
	border: 2px solid white;
	
	margin-left: 1px; 
	margin-right: 1px;
	margin-top: 2px; 
}

.concept.clicked, .concept:hover {
	border: 2px solid #239CA2;
}

.concept.clicked {

}

.concept .delete {
	
}

.conceptNew {
	width: 100px;
	height: 17px;
}

.conceptNew .concept_name {
	
	display: inline-block;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	background-color: #2CC4E0;
	color: white;
	font-weight: bold;
	cursor: default;
	height: 11px;
	width: 94px;
	resize: none;
	overflow-y: hidden;
	border: none;
}