

.concepts {
	width: 95%;
	height: auto;
	float: left;
	margin-top: -1px;
	margin-left: 8px;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.concept, .conceptNew{
	display: inline-block;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	background-color: #2CC4E0;
	color: white;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-radius: 7px;
	cursor: default;
	border: 2px solid white;
	
	margin-left: 1px; 
	margin-right: 1px;
	margin-top: 2px; 
}


.concept .concept_label {
	
	display: inline-block;
	float:left;
}

.concept .delete {

	display: inline-block;
	float: right;
	
	width: 17px;
	height: 15px;

	background-color: #239CA2;
	border-radius: 3px;

	margin-right: -3px;
	margin-left: 9px;
	margin-top: 1px;
	
	text-indent: 6px;
	line-height: 13px;
}

.concept .delete:hover {
	background-color: rgb(192,0,0);
}

.concept.clicked {
	border: 2px solid #239CA2;
}

.concept:hover {
	/*border: 2px solid #239CA2;*/
}

.concept.clicked {

}

.conceptNew {
	width: 100px;
	height: 17px;
}

.conceptNew .concept_name {
	
	display: inline-block;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	background-color: #2CC4E0;
	color: white;
	font-weight: bold;
	cursor: default;
	height: 11px;
	width: 94px;
	resize: none;
	overflow-y: hidden;
	border: none;
}