

.symlinks {
	width: 95%;
	height: auto;
	float: left;
	margin-top: 3px;
	margin-left: 8px;
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.symlink {
	display: inline-block;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	background-color: rgb(192,0,0);
	color: white;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	border-radius: 7px;
	cursor: default;
	border: 2px solid white;
	
	margin-left: 1px; 
	margin-right: 1px;
	margin-top: 2px; 
}

.symlink .symlink_label {
	display: inline-block;
	float:left;
}

.symlink .delete {

	display: inline-block;
	float: right;
	
	width: 17px;
	height: 15px;

	background-color: #FD1A1A;
	border-radius: 3px;

	margin-right: -3px;
	margin-left: 9px;
	margin-top: 1px;
	
	text-indent: 6px;
	line-height: 13px;
	
	color: white;
}

.symlink .delete:hover {
	background-color: #2CC4E0;
}

.symlink.clicked {
	border: 2px solid rgb(192,0,0);
	color: rgb(192,0,0);
	background-color: white;
}