

.textviews {
	height: auto;
	width: 100%;
	float: left;
}

.textview {
	
	width: 95%;
	height: auto;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	background-color: rgb(220,230,242);
	border: 1px solid rgb(149,180,216);
}

.textfile_content {
	
	height: auto;
	width: 96%;
	resize: none;
	border: none;
	margin-left: 5px;
	
	background-color:inherit;
	border: none;
	font-family: Calibri;
	font-style: italic;
	font-size: 14px;
	
	padding-top: 5px;
}

.textview.editing {
	background-color:#FFF9A3;
	border: 1px solid #FFF9A3;
}

.textview.hasConcept {
	
	-webkit-box-shadow: 0px 0px 20px rgba(35, 156, 162, 1);
	-moz-box-shadow:    0px 0px 20px rgba(35, 156, 162, 1);
	box-shadow:         0px 0px 20px rgba(35, 156, 162, 1);
	
	border: 2px solid rgba(35, 156, 162, 0.2);
}